{% extends "base.html" %}

{% block copyright %}
{% if config.theme.language == "en" %}
<span class="atlantyqa-copyright-wrapper">
    &copy; 2026 Atlantyqa Labs. |
    <a href="{{ 'privacy-policy/' | url }}">Privacy Policy</a> ·
    <a href="{{ 'terms-of-service/' | url }}">Terms of Service</a>
</span>
{% else %}
<span class="atlantyqa-copyright-wrapper">
    &copy; 2026 Atlantyqa Labs. |
    <a href="{{ 'privacy-policy/' | url }}">Política de Privacidad</a> ·
    <a href="{{ 'terms-of-service/' | url }}">Términos de Servicio</a>
</span>
{% endif %}
{% endblock %}
