REPO_DIR="/home/kabehz/cognitive-suite"
SUITE_ENV="/home/kabehz/cognitive-suite/bash/GitDevSecDataAIOps/proxmox/deploy-all-secret-suite.env"

COPY_EXAMPLES="true"
FIX_PERMS="true"
CHECK_PLACEHOLDERS="true"
ALLOW_PLACEHOLDERS="false"

ALLOW_EXTERNAL_CONFIRM=""
APPLY="false"
CONFIRM_APPLY=""
