# Configuración para create-cloud-template.sh

VMID="9000"
CODENAME="noble" # Opciones: noble (Ubuntu 24.04), jammy (22.04), bookworm (Debian 12)
STORAGE="local-lvm" # El storage donde se guardará el disco
MEMORY="2048"
CORES="2"
BRIDGE="vmbr0"

# Nota: El script instalará 'libguestfs-tools' si no está presente para inyectar el qemu-guest-agent.
