PVE_API_URL="https://127.0.0.1:8006/api2/json"
PVE_API_TOKEN="user@pve!tokenid=REDACTED"
PVE_INSECURE="true"

PVE_NODE="pve"
PVE_STORAGE="local-lvm"
PVE_TEMPLATE="local:vztmpl/debian-12-standard_12.2-1_amd64.tar.zst"
PVE_BRIDGE="vmbr0"
PVE_GATEWAY=""
PVE_DNS="1.1.1.1"

GITEA_CTID="9100"
GITEA_HOSTNAME="gitea"
GITEA_MEMORY="4096"
GITEA_CORES="2"
GITEA_DISK="40"
GITEA_IP="dhcp"

GITEA_HTTP_PORT="3000"
GITEA_SSH_PORT="2222"
GITEA_DOMAIN="gitea.local"
GITEA_VERSION="1.22.2"
GITEA_DATA_DIR="/opt/gitea/data"

GITEA_DB_TYPE="sqlite3"
GITEA_DB_HOST=""
GITEA_DB_NAME="gitea"
GITEA_DB_USER="gitea"
GITEA_DB_PASS=""

BOOTSTRAP_SSH="false"
BOOTSTRAP_SSH_HOST=""
BOOTSTRAP_SSH_USER="root"
BOOTSTRAP_SSH_PORT="22"
BOOTSTRAP_SSH_KEY=""
BOOTSTRAP_SSH_STRICT="true"
BOOTSTRAP_SSH_CONNECT_TIMEOUT="10"
BOOTSTRAP_SSH_WAIT_SECS="60"
BOOTSTRAP_SSH_SLEEP="5"

DRY_RUN="true"
