PVE_API_URL="https://127.0.0.1:8006/api2/json"
PVE_API_TOKEN="user@pve!tokenid=REDACTED"
PVE_INSECURE="true"

PVE_NODE="pve"
PVE_STORAGE="local-lvm"
PVE_TEMPLATE="local:vztmpl/debian-12-standard_12.2-1_amd64.tar.zst"
PVE_BRIDGE="vmbr0"
PVE_GATEWAY=""
PVE_DNS="1.1.1.1"

GITEA_CTID="9100"
GITEA_HOSTNAME="gitea"
GITEA_MEMORY="4096"
GITEA_CORES="2"
GITEA_DISK="40"
GITEA_IP="dhcp"

DRY_RUN="true"
