REPO_URL="https://github.com/atlantyde-labs/cognitive-suite.git"
BRANCH="chore/scripts-testing"
DEST_DIR="/home/kabehz/cognitive-suite"
USE_GH="true"
RUN_BOOTSTRAP="true"

BOOTSTRAP_ENV="/home/kabehz/cognitive-suite/bash/GitDevSecDataAIOps/proxmox/bootstrap.env"
BOOTSTRAP_PATH="/home/kabehz/cognitive-suite/bash/GitDevSecDataAIOps/proxmox/bootstrap.sh"
