REPO_URL="https://github.com/atlantyde-labs/cognitive-suite.git"
BRANCH="chore/scripts-testing"
DEST_DIR="${HOME}/cognitive-suite"
USE_GH="true"
RUN_BOOTSTRAP="true"

BOOTSTRAP_ENV="${HOME}/cognitive-suite/bash/GitDevSecDataAIOps/proxmox/bootstrap.env"
BOOTSTRAP_PATH="${HOME}/cognitive-suite/bash/GitDevSecDataAIOps/proxmox/bootstrap.sh"
